<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let movie of movies">
            <div class="card">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}"
                    alt="Movie Poster">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <!-- Otros detalles de la película si los deseas -->
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <app-pagination [totalPages]="totalPages" [currentPage]="currentPage" (pageChange)="getMovies($event)">
        </app-pagination>
    </div>
</div>