
.card {
  text-align: center;
  height: 100%;
  /* Asegura que la tarjeta ocupe todo el espacio disponible */
  display: flex;
  flex-direction: column;
  /* Alinea los elementos verticalmente */
  justify-content: space-between;

}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 20px;

}

.card-img-top {
  width: 100%;
  height: auto;
  max-height: 200px; /* Establece un tamaño máximo para las imágenes */
  object-fit: cover; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
  width: 100%;
}

.card-body {
  width: 100%;
}