<div class="container" *ngIf = "detalle">
    <div class="portada">
        <img [src]="portadaPelicula()" alt="poster" class="img-fluid">
    </div>
    <div class="descripcion">
        <h3>{{detalle.title || detalle.original_name}}</h3>
        <p>{{detalle.overview}}</p>
        <p>Fecha de lanzamiento: {{detalle.release_date || detalle.first_air_date}}</p>
        <p>Calificación: {{detalle.vote_average.toFixed(1)}}</p>

       <div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>

