<div class="detalles" *ngIf="detallesPelicula">
    <h2>{{ detallesPelicula.title || detallesPelicula.name }}</h2>
    <img [src]="portadaPelicula()" alt="" width="200">
    <p><strong>Descripción:</strong> {{ detallesPelicula.overview }}</p>
    <p><strong>Fecha de lanzamiento:</strong> {{ detallesPelicula.release_date }}</p>
    <p><strong>Calificación:</strong> {{ detallesPelicula.vote_average }}</p>
  </div>
  <div *ngIf="!detallesPelicula">
    <p> Cargando detalles de la película... </p>
  </div>
  
